.badge {
  display:inline-block;
  position: absolute;
  visibility: hidden;
  background: red;
  color: white;
  font-family: Sans-serif;
  z-index:99;
  border-radius: 8px;
  font-size: 8pt;
  padding:2px;
  text-align:center;
  min-width:10px;
  margin:2px;
}

.badge.visible {
  visibility: visible;
}

.badge.bottom {
  bottom:0;
}

.badge.top {
  top:0;
}

.badge.left {
  left:0;
}

.badge.right {
  right:0;
}
