.tooltip {
    position: relative;
/*     display: inline-block; */
}

.tooltip .tooltiptext {
    visibility: hidden;
    min-width: 100px;
    max-width: 300px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 0s;
    transition-delay: 1s;
    font-family: Sans-serif;
    font-size: 8pt;
}

.tooltiptext.left {
  right: 100%
}

.tooltiptext.right {
  left: 100%
}

.tooltiptext.top {
  bottom: 100%
}

.tooltiptext.bottom {
  top: 100%
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
