.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    min-width: 100px;
    max-width: 300px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 100%;
    opacity: 0;
    transition: opacity 0s;
    transition-delay: 1s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
