.overlay {
  display:none;
  position:fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  z-index:100;
}

.overlay.visible {
  display:block;
}

#delete-confirm-container {
  display: grid;
  max-width: 300px;
  margin:auto;
  grid-auto-rows: auto;
  position:relative;
  top:50%;
  transform: translate(0%,-50%);
  text-align:center;
}

#search-container {
  display: grid;
  grid-auto-rows: auto;
  max-width: 800px;
  margin:auto;
  position:relative;
  top:50%;
  transform: translate(0%,-50%);
}

.search-button-container {
  display:grid;
  grid-template-columns: auto 5em;
}

.button-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 1em 0 1em 0;
}

.button-container button {
  max-width: 5em;
  justify-self:center;
}

#recommend-container {
  display: grid;
  max-width: 750px;
  margin:auto;
  grid-auto-rows: auto;
  position:relative;
  top:50%;
  transform: translate(0%,-50%);
}

#recommend-input {
  max-width:300px;
  margin:auto;
}

#recommend-autocomplete {
  position:relative;
  margin:auto;
  width:auto;
  max-width: 300px;
  height:auto;
  max-height: 200px;
}

#recommend-success {
  display: none;
  width: auto;
  margin: 15px auto 15px auto;
}

#recommend-success.visible {
  display: inline-block;
}

#recommend-fail {
  display: none;
  width: auto;
  margin: 15px auto 15px auto;
}

#recommend-fail.visible {
  display: inline-block;
}

#blender-navigation {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40px,10fr));
}

.blender-navigation-item {
  display: block;
  position:relative;
  width:24px;
  height:24px;
  margin-left:-1px;
  margin-bottom: -1px;
  padding: 8px;
}

#articles-table {
  display: grid;
  grid-auto-rows: auto;
}

.article {
  display: grid;
  grid-template-rows: auto auto;
}

#articles-more {
  display: grid;
  grid-auto-rows: auto;
}

.article-display {
  display: grid;
  grid-template-columns: 40px auto 40px;
  grid-column-gap: 5px;
}

.article-icons {
  display: grid;
  grid-auto-rows: 35px;
  grid-row-gap: 0px;
  position: relative;
}

.article-data {
  display: grid;
  grid-template-rows: auto auto;
  grid-row-gap: 0px;
}

.article-comment-box {
  display: none;
}

.article-comment-box.visible {
  display: block;
}

.icon {
  align-self: center;
  justify-self: center;
}

.article-actions-container {
  position:relative;
}


.article-actions-menu {
  visibility:hidden;
  opacity:0;
  position:absolute;
  z-index:2;
  display: grid;
  right:120%;
  top: -24px;
  width: 300px;
  grid-auto-rows:40px;
}

.article-actions-menu.visible {
  visibility:visible;
  opacity: 1;
}

.article-actions-menu-item {
  display: grid;
  z-index:3;
  grid-template-columns: 50px auto;
}

.article-actions-menu-item-desc {
  align-self: center;
}

.comment-add {
  display: grid;
  margin-left:auto;
  margin-right:auto;
  height:3em;
  text-align:left;
  grid-template-columns: auto auto;
}

.comment-add a {
  align-self:center;
  justify-self:left;
  margin-left:0.25em;
}

.comment-add i {
  align-self:center;
  justify-self:right;
  margin-right: 0.25em;
}

}
.comment-editor-wrapper {
  display:block;
}

.comments-wrapper {
  display: grid;
  grid-auto-rows:auto;
}

.blender-comment {
  width:inherit;
  padding: 10px 5px 10px 5px;
}

.blender-comment p {
  margin-bottom: 0.5em;
}

.blender-comment br {
  line-height: 0.25em;
}

.blender-comment .comment-metadata {
  margin-bottom: 1em;
}

.blender-comment .comment-timestamp {
  margin-left: 0.5em;
  font-size: 0.875em;
  font-style: italic;
}

.blender-comment .comment-actions {
  float:right;
  clear:right;
  margin-left:1em;
}

.blender-comment .comment-actions a {
  margin-left:0.5em;
}

.blender-comment .comment-body {
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-left: 1em;
  margin-right: 1em;
}

