.overlay {
 background: rgba(0, 0, 0, 0.13)
}

#recommend-container {
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.13);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: Sans-serif;
  padding: 10px;
}

#delete-confirm-container {
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.13);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: Sans-serif;
  padding: 10px;
}

#recommend-success {
  color: black;
  border: 1px solid rgba(20,150,30,0.87);
  background: rgba(20,150,30,0.26);
  padding: 15px;
}

#recommend-fail {
  color:black;
  border: 1px solid rgba(150,20,30,0.87);
  background: rgba(150,20,30,0.26);
  padding: 15px;
}

#blender-navigation {
  margin-bottom: 5px;
  font-family: Sans-serif;
}

#blender-navigation a {
  color: inherit;
  border: inherit;
}

#blender-navigation a:hover {
  color: inherit;
  border:inherit;
}

.blender-navigation-item {
  border: 1px solid rgba(0,0,0,0.13);
  background: rgba(0,0,0,0.06);
}

.blender-navigation-item.selected {
  font-weight: bold;
  background: white;
}

.blender-navigation-desc {
  font-size: 1em;
  align-self: center;
}

.blender-navigation-item:hover {
  cursor: pointer;
  background: white;
}

.blender-navigation-item:hover .material-icons.md-dark.inbox-nav-icon {
  color: rgba(255,0,0,0.87);
}

.material-icons.md-dark.inbox-nav-icon.selected {
  color: rgba(255,0,0,0.87);
}

.blender-navigation-item:hover .material-icons.md-dark.bookmark-nav-icon {
  color: rgba(150, 20, 30, 0.87);
}

.material-icons.md-dark.bookmark-nav-icon.selected {
  color: rgba(150, 20, 30, 0.87);
}

.blender-navigation-item:hover .material-icons.md-dark.vote-nav-icon {
  color: rgba(255, 102, 30, 0.87);
}

.material-icons.md-dark.vote-nav-icon.selected {
  color: rgba(255, 102, 30, 0.87);
}

.blender-navigation-item:hover .material-icons.md-dark.archive-nav-icon {
  color: rgba(20, 150, 30, 0.87);
}

.material-icons.md-dark.archive-nav-icon.selected {
  color: rgba(20, 150, 30, 0.87);
}

.article {
  border: 1px solid rgba(0, 0, 0, 0.13);
  font-family: Sans-serif;
  padding: 5px;
  font-size: 0.875em;
  margin-bottom: -1px;
  transition: margin-top 0.1s, margin-bottom 0.1s;
}

.article.other {
  background-color: rgba(0,0,0,0.13);
}

.article.new .article-icons.left {
  border-left: 3px solid rgba(255, 0, 0, 0.87);
  margin-left: -3px;
}

.article.expanded {
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.article-data:hover {
  cursor: pointer;
}

#articles-more {
  border: 1px solid rgba(0, 0, 0, 0.13);
  font-family: Sans-serif;
  padding: 5px;
  margin-bottom: -1px;
}

#articles-more:hover {
  cursor: pointer;
}

#articles-more:hover i {
  color: rgba(0, 0, 0, 0.87);
}

.article-title {
  font-size: 1.25em;
  font-weight: bold;
  padding: 0px;
}

.article-authors {
  padding: 0px;
}

.article-volume {
  font-weight: bold;
}

.article-comment {
  border-top: 1px solid rgba(0, 0, 0, 0.13);
  text-align: center;
}

.article-actions-menu {
  border: 1px solid rgba(0, 0, 0, 0.13);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: white;
}

.article-actions-menu-item:hover {
  background: rgba(0,0,0,0.13);
}

.article-actions-menu-item-desc {
  font-size: 12pt;
  font-family: Sans-serif;
  color: rgba(0, 0, 0, 0.87);
}

.blender-comment {
  border-top: 1px solid rgba(0, 0, 0, 0.26);
}

.blender-comment .comment-author {
  font-weight: bold;
}

a.comment-link {
  border: none;
}

a.comment-link:hover {
  cursor: pointer;
  border: none;
}

.blender-comment .comment-body {
  border-left: 1px solid rgba(0,0,0,0.13);
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark:hover { color: rgba(0, 0, 0, 0.87); }
.material-icons.md-dark.done-icon.archive { color: rgba(20, 150, 30, 0.87); }
.material-icons.md-dark.done-icon.archive:hover { color: rgba(20, 150, 30, 0.54); }
.material-icons.md-dark.bookmark-icon.bookmarked { color: rgba(150, 20, 30, 0.87); }
.material-icons.md-dark.bookmark-icon.bookmarked:hover { color: rgba(150, 20, 30, 0.54); }
.material-icons.md-dark.vote-icon.voted { color: rgba(255, 102, 30, 0.87); }
.material-icons.md-dark.vote-icon.voted:hover { color: rgba(255, 102, 30, 0.54); }
.material-icons.md-dark.star-icon { color: rgba(255, 175, 30, 0.87); }
.material-icons.md-dark.star-icon:hover { color: rgba(255, 175, 30, 0.87); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.icon:hover {
  cursor: default;
}

.icon.clickable:hover {
  cursor: pointer;
}

.comment-add a {
  border: none;
}

.comment-add:hover {
  background: rgba(0,0,0,0.13);
  cursor:pointer;
}

.comment-add:hover i {
  color: rgba(0, 0, 0, 0.87);
}

.comment-add:hover a {
  color: inherit;
}

