.article {
  border: 1px solid rgba(0, 0, 0, 0.13);
  font-family: Sans-serif;
  padding: 5px;
  font-size: 0.875em;
  margin-bottom: -1px;
  transition: margin-top 0.1s, margin-bottom 0.1s;
}

.article.other {
  background-color: rgba(0,0,0,0.13);
}

.article.new .article-icons.left {
  border-left: 3px solid rgba(255, 0, 0, 0.87);
  margin-left: -3px;
}

.article.expanded {
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.article-data:hover {
  cursor: pointer;
}

#articles-more {
  border: 1px solid rgba(0, 0, 0, 0.13);
  font-family: Sans-serif;
  padding: 5px;
  margin-bottom: -1px;
}

#articles-more:hover {
  cursor: pointer;
}

#articles-more:hover i {
  color: rgba(0, 0, 0, 0.87);
}

.article-title {
  font-size: 1.25em;
  font-weight: bold;
  padding: 0px;
}

.article-authors {
  padding: 0px;
}

.article-volume {
  font-weight: bold;
}

.article-comment {
  border-top: 1px solid rgba(0, 0, 0, 0.13);
  text-align: center;
}

.article-actions-menu {
  border: 1px solid rgba(0, 0, 0, 0.13);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: white;
}

.article-actions-menu-item:hover {
  background: rgba(0,0,0,0.13);
}

.article-actions-menu-item-desc {
  font-size: 12pt;
  font-family: Sans-serif;
  color: rgba(0, 0, 0, 0.87);
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark:hover { color: rgba(0, 0, 0, 0.87); }
.material-icons.md-dark.done-icon.archive { color: rgba(20, 150, 30, 0.87); }
.material-icons.md-dark.done-icon.archive:hover { color: rgba(20, 150, 30, 0.54); }
.material-icons.md-dark.bookmark-icon.bookmarked { color: rgba(150, 20, 30, 0.87); }
.material-icons.md-dark.bookmark-icon.bookmarked:hover { color: rgba(150, 20, 30, 0.54); }
.material-icons.md-dark.vote-icon.voted { color: rgba(255, 102, 30, 0.87); }
.material-icons.md-dark.vote-icon.voted:hover { color: rgba(255, 102, 30, 0.54); }
.material-icons.md-dark.star-icon { color: rgba(255, 175, 30, 0.87); }
.material-icons.md-dark.star-icon:hover { color: rgba(255, 175, 30, 0.87); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.icon:hover {
  cursor: default;
}

.icon.clickable:hover {
  cursor: pointer;
}

span.comment-add {
  color: rgba(0,0,255,0.87);
}

span.comment-add:hover {
  color: rgba(0,0,255,0.54);
  cursor:pointer;
}

