.articles-table {
    display: grid;
    grid-auto-rows: minmax(100px, auto);
}

.article {
  display: grid;
  grid-template-columns: 30px auto 30px;
  grid-column-gap: 0px;
}

.article-icons {
  display: grid;
  grid-template-rows: 30px 30px 30px auto;
  grid-row-gap: 0px;
}

.article-data {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-row-gap: 0px;
}

.article-actions {
  display: grid;
  grid-template-rows: auto;
  grid-row-gap: 0px;
}

.article-title {
  grid-row: 1;
}

.article-metadata {
  grid-row: 2;
}

.inbox {
  grid-row: 1;
}

.icon {
  align-self: center;
  justify-self: center;
}
