{#
/**
 * @file
 * Default theme implementation to print Articles.
 *
 * Available variables:
 *   - articles
 *   - more
 *
 *
 * @ingroup themeable
 */
#}

{% if articles %}
<div class="articles-table">
{% include '@blender/blender-article.html.twig' %}
{% if more %}
<div id="articles-more">Show more</div>
{% endif %}
</div>
{% else %}
<div class="no-articles">No articles to display.</div>
{% endif %}
