{#
/**
 * @file
 * Default theme implementation to print Articles.
 *
 * Available variables:
 *   - articles
 *   - more
 *
 *
 * @ingroup themeable
 */
#}

{% if articles %}
<div class="articles-table">
{% include '@blender/blender-article.html.twig' %}
{% if more %}
<div id="articles-more">
    <i class="material-icons md-dark md-48 icon">
      <div class="tooltip">
        file_download
        <span class="tooltiptext">Show more articles</span>
      </div>
    </i>
</div>
{% endif %}
</div>
{% else %}
<div class="no-articles">No articles to display.</div>
{% endif %}
